*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(223, 222, 222, 0.522),rgba(210, 209, 209, 0.544),rgba(218, 215, 215, 0.571)),url("../assets/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
 header>div{
    width: 95%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    border: none;
    outline: none;
    padding: 3px 15px;
    background-color: rgb(137, 61, 61);
    color: white;
    transition: all 1s ease;
        /* padding: 15px 30px;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: linear-gradient(45deg, #ff6f61, #ffcc33, #76c7c0, #6a1b9a, #1e88e5, #ff4081, #00c853, #ffa000);
        background-size: 150% 150%;
        transition: background-position 1s ease; */
      }
  

button:hover{
    background-color: #fff;
    color: rgb(129, 61, 61);
    transform: translateY(5px);
    border: 1px solid rgb(114, 32, 32);
    border-radius: 40%;
    

}
/* button top code ----------------------------------------------------  */ */
.topbtn{
    display: none;
    cursor: pointer;
    position: fixed; 
    bottom: 40px;
    right: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#1b8545;
    border: none;
  }
  
  .topbtn i{
    font-size: 2vw;
    color: #111;
  }
  /* /* footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#returnToHome {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#returnToHome:hover {
    background-color: #218838;
}

#returnToHome:focus {
    outline: none;
}

/* Optional: Make sure footer is always at the bottom */
/* html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
